In [1]:
import pandas as pd

In [25]:
df_ytd = pd.read_csv('raw_data/weather_data_raw_2024-02-19_12:39:08.csv')
df_tod = pd.read_csv('raw_data/weather_data_raw_2024-02-20_11:26:22.csv')

In [3]:
df_ytd

,temperature,relative_humidity,apparent_temperature,precipitation_probability,precipitation,rain,showers,wind_speed,wind_gusts,lat,lng,datetime
0,16.25,95.0,17.074920,0.0,0.0,0.0,0.0,6.989936,5.760000,25.049999,121.5625,2024-02-18 00:00:00+08:00
1,17.10,88.0,18.618721,0.0,0.0,0.0,0.0,1.297998,6.479999,25.049999,121.5625,2024-02-18 01:00:00+08:00
2,16.30,92.0,17.664518,0.0,0.0,0.0,0.0,2.099143,6.479999,25.049999,121.5625,2024-02-18 02:00:00+08:00
3,15.25,95.0,15.819891,0.0,0.0,0.0,0.0,6.151683,5.760000,25.049999,121.5625,2024-02-18 03:00:00+08:00
4,14.50,98.0,15.321564,0.0,0.0,0.0,0.0,3.758510,5.760000,25.049999,121.5625,2024-02-18 04:00:00+08:00
...,...,...,...,...,...,...,...,...,...,...,...,...
139,21.95,90.0,25.300787,0.0,0.0,0.0,0.0,4.334974,11.159999,25.000000,121.4375,2024-02-20 19:00:00+08:00
140,21.30,92.0,24.448006,0.0,0.0,0.0,0.0,4.735060,9.720000,25.000000,121.4375,2024-02-20 20:00:00+08:00
141,20.35,93.0,23.174320,0.0,0.0,0.0,0.0,4.379589,6.840000,25.000000,121.4375,2024-02-20 21:00:00+08:00
142,19.90,95.0,22.663555,0.0,0.0,0.0,0.0,4.452954,6.120000,25.000000,121.4375,2024-02-20 22:00:00+08:00
143,19.85,94.0,22.674835,0.0,0.0,0.0,0.0,3.319036,6.840000,25.000000,121.4375,2024-02-20 23:00:00+08:00

# Compare change in future predictions

In [32]:
# Yesterday predictions - anything after 1 PM
df_ytd['datetime'] =  pd.to_datetime(df_ytd['datetime']).dt.tz_convert(tz='Asia/Taipei')
dt_start_prediction = pd.to_datetime('2024-02-20 11:00:00', format='%Y-%m-%d %H:%M:%S').tz_localize(tz='Asia/Taipei')
ytd_pred = df_ytd[df_ytd['datetime'] > dt_start_prediction]

In [33]:
#today pred - anything after 11am
df_tod['datetime'] = pd.to_datetime(df_tod['datetime']).dt.tz_convert(tz='Asia/Taipei')
dt_start_prediction_Tod = pd.to_datetime('2024-02-20 11:00:00', format='%Y-%m-%d %H:%M:%S').tz_localize(tz='Asia/Taipei')
tod_pred = df_tod[df_tod['datetime'] > dt_start_prediction_Tod]

In [36]:
pred_comp = pd.merge(
    left=ytd_pred,
    right=tod_pred,
    how='left',
    on=['lat', 'datetime'],
    suffixes=['_ytd', '_tod']
)

In [37]:
pred_comp[['temperature_ytd', 'temperature_tod', 'datetime']]

    temperature_ytd  temperature_tod                  datetime
0             25.35            26.40 2024-02-20 12:00:00+08:00
1             25.90            27.30 2024-02-20 13:00:00+08:00
2             25.85            26.95 2024-02-20 14:00:00+08:00
3             24.80            25.90 2024-02-20 15:00:00+08:00
4             24.10            24.85 2024-02-20 16:00:00+08:00
5             23.60            23.70 2024-02-20 17:00:00+08:00
6             22.45            22.45 2024-02-20 18:00:00+08:00
7             22.10            21.75 2024-02-20 19:00:00+08:00
8             21.70            21.10 2024-02-20 20:00:00+08:00
9             20.70            20.80 2024-02-20 21:00:00+08:00
10            20.25            20.40 2024-02-20 22:00:00+08:00
11            19.80            20.45 2024-02-20 23:00:00+08:00
12            26.25            26.60 2024-02-20 12:00:00+08:00
13            26.95            27.60 2024-02-20 13:00:00+08:00
14            26.95            26.80 2024-02-20 14:00:00+08:00
15            25.80            25.90 2024-02-20 15:00:00+08:00
16            24.85            24.35 2024-02-20 16:00:00+08:00
17            24.10            22.85 2024-02-20 17:00:00+08:00
18            22.90            22.05 2024-02-20 18:00:00+08:00
19            21.95            21.55 2024-02-20 19:00:00+08:00
20            21.30            21.15 2024-02-20 20:00:00+08:00
21            20.35            20.80 2024-02-20 21:00:00+08:00
22            19.90            20.40 2024-02-20 22:00:00+08:00
23            19.85            20.00 2024-02-20 23:00:00+08:00

In [39]:
pred_comp['pred_temp_diff'] = pred_comp['temperature_ytd'] - pred_comp['temperature_tod']
pred_comp['pred_temp_diff'].describe()

count    24.000000
mean     -0.181250
std       0.658525
min      -1.400000
25%      -0.650000
50%      -0.125000
75%       0.200000
max       1.250000
Name: pred_temp_diff, dtype: float64

### Conclusion
- It is worth pulling data each day as predictions definitely change
#### Future research
- When rainy weather is forecasted, check how that changes over time. most likely more difficult to predict than temperature.