In [93]:
import pandas as pd
import boto3
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
%cd ../utils
import s3_helper
%cd ../eda

/Users/justinwarambourg/Documents/programming/youbike/utils
/Users/justinwarambourg/Documents/programming/youbike/eda

/Users/justinwarambourg/miniconda/envs/youbike/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
os.environ['APP_ENV'] = 'stage'

In [4]:
connection = s3_helper.ConnectionToS3.from_env()
connection.bucket_name

Loading from env:  stage

In [5]:
s3_helper.download_from_bucket(connection, 'raw_data/', 'weather', './weather')

'stage-youbike'

In [121]:
#For now, let's use a historical dataset
hist_df = pd.read_csv('./weather/raw_data/weather_data_raw_2024-03-15_14:16:56.csv')

In [122]:
hist_df.sort_values(by=['lat', 'datetime'], inplace=True)

In [123]:
hist_df = hist_df.drop_duplicates(subset=['datetime', 'lat', 'lng']).reset_index(drop=True)

In [127]:
hist_df['datetime'] = pd.to_datetime(hist_df['datetime'], yearfirst=True).dt.tz_convert(tz='Asia/Taipei')

In [129]:
hist_df.to_parquet('./weather_historical_2024-02-01_2024-03-15.parquet', index=False)

In [131]:
hist_df.head(5)

,temperature,relative_humidity,apparent_temperature,precipitation,rain,wind_speed,wind_gusts,lat,lng,datetime
0,20.812,87.51358,23.187660,0.0,0.0,5.771239,10.799999,22.601053,120.373833,2024-02-01 00:00:00+08:00
1,20.312,91.96054,22.406588,0.0,0.0,8.669949,14.400000,22.601053,120.373833,2024-02-01 01:00:00+08:00
2,19.562,94.84077,21.321457,0.0,0.0,10.163227,16.560000,22.601053,120.373833,2024-02-01 02:00:00+08:00
3,19.062,93.63786,20.704897,0.0,0.0,8.759178,16.919998,22.601053,120.373833,2024-02-01 03:00:00+08:00
4,18.312,94.79253,20.251684,0.0,0.0,5.052841,14.759999,22.601053,120.373833,2024-02-01 04:00:00+08:00